body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    background-color: #e8eff9;
    color: #001123    
}

body a:link {
    color: #5a6753;
    text-decoration: none;
}

body a:visited {
    color: #1a2922;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

body a:active {
    text-decoration: underline;
}

#div-mobile {
    display: none;
}

@media screen and (min-width: 700px) {
    body {
        height: 100vh; 
    }
}

/* sidebar stuff */
.main {
    margin-left: 180px; 
    font-size: 28px; 
    padding: 0px 10px;
    flex-grow: 1;
}

.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #001123;
    display: block;
}

.sidenav a:hover {
    color: #6b8093;
}

@media screen and (max-width: 700px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidenav a {float: left;}
    .main {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidenav a {
        text-align: center;
        float: none;
    }

    h1 {
        text-align: center;
        font-size: 1.7em;
    }

    #div-mobile {
        display: block;
    }
}

/* Footer */
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}